* {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
    height: 100px;
}

main {
    margin-left: 100px
}

.memes {
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 25px;
    border-bottom: dotted black 3px;
    border-top: dotted black 3px;
}

p {
    margin-top: 25px;
    margin-left: 50px;
}

img {
    border: solid black 5px;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
img:hover {
    transform: scale(1.1);
    transition: .8s;
    cursor: pointer;
}
img:active {
    transform: scale(0.01) translate(800px) rotate(-180deg) ;
    /* transform: rotate(-180deg); */
    /* transform: translate(50px)  */
}

footer {
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

